
/************************
****** Page Layout ******
************************/

@media screen and (min-width:921px) {
	#content { padding:14px; }
}

@media screen and (max-width:920px) {
	#content { padding:10px; }
}

#panel-nav { width:245px; }

#content { background-color:white; overflow:hidden; }


/*****************************
****** Modules & Blocks ******
*****************************/

#pet-desc { }

.uc-static-block { text-align:center; background-color:#abcdef; padding:5px; border-radius:6px; margin-bottom:12px; }
.uc-static-block img { max-width:100%; }

.uc-action-block { text-align:center; background-color:#cdedef; padding:3px; border-radius:6px; margin-bottom:12px; }
.uc-action-inline { display:inline-block; padding:3px; margin:3px; width:110px; }

.uc-bold { font-weight:bold; font-size:1.1em; }
.uc-bold-block { font-weight:bold; text-align:center; margin-bottom:12px; }
.uc-note { font-size:0.8em; }
.uc-note-bold { font-size:0.8em; font-weight:bold; }

/* Pet Cubes */
.pet-cube { display:inline-block; text-align:center; }
.pet-cube-inner { display:table-cell; vertical-align:bottom; width:140px; height:140px; overflow:hidden; }
.pet-cube img { max-width:140px; max-height:140px; }

/* Pet Page - Skill Table */
.attr-row { display:table-row; }
.attr-name { display:table-cell; text-align:right; padding-left:4px; }
.attr-num { display:table-cell; padding-left:10px; font-weight:bold; }

/* Responsive Design (Wide Sidebars) */
@media screen and (min-width:675px) {
	#uc-left-wide { float:left; width:300px; margin:0 10px 10px 0; }
	#uc-right-wide { margin-left:310px; }
	.attr-graph { display:table-cell; text-align:left; padding-left:10px; font-weight:bold; }
}

@media screen and (min-width:435px) and (max-width:674px) {
	#uc-left-wide { float:left; width:54%; margin:0 10px 10px 0; }
	#uc-right-wide { margin-left:56%; }
	.attr-graph { display:none; }
}

@media screen and (max-width:434px) {
	.attr-graph { display:table-cell; text-align:left; padding-left:10px; font-weight:bold; }
}

/* Responsive Design (Slim Sidebars) */
@media screen and (min-width:575px) {
	#uc-left { float:left; width:180px; margin:0 10px 10px 0; }
	#uc-right { margin-left:190px; }
}


/**********************
****** Shop Page ******
**********************/

@media screen and (min-width:730px) {
	.shop-block { float:left; width:33.3%; height:170px; }
}

@media screen and (min-width:450px) and (max-width:729px) {
	.shop-block { float:left; width:50%; height:170px; }
}

@media screen and (max-width:449px) {
	.shop-block { float:left; width:100%; height:170px; }
}

.shop-block-inner { padding:4px; margin:4px; background-color:#deefff; border-radius:6px; height:150px; overflow:hidden; }
.shop-block-left { float:left; width:70px; text-align:center; margin-top:12px; }
.shop-block-right { margin-left:80px; position:relative; height:100%; }
.shop-block-title { font-weight:bold; font-size:1.1em; }
.shop-block-note { font-size:0.9em; }
.shop-block-leave { position:absolute; bottom:0px; left:0px; font-size:0.9em; color:#aa0000; }
